.error-body {
  display: flex;
  justify-content: center;
}

.error-main {
  display: grid;
  text-align: center;
  width: 70%;
  padding-top: 40px;
  row-gap: 1.75rem;
}

.question-image {
  justify-self: center;
  pointer-events: none;
}

.error-a,
.error-a:visited,
.error-a:hover,
.error-a:active {
  color: black;
}
