.error-grid-container {
  display: flex;
  justify-content: center;
}

.error-grid {
  display: grid;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  row-gap: 1.75rem;
  text-align: center;
}

.question-image {
  height: auto;
  justify-self: center;
  max-width: 100%;
  pointer-events: none;
}

.error-a,
.error-a:visited,
.error-a:hover,
.error-a:active {
  color: black;
}
