.footer {
  width: 100vw;
  bottom: 0;
}

.footer-container {
  background-color: #e7f2df;
  padding-bottom: 16px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 16px;
  text-align: center;
}

.footer-container > p {
  font-size: x-small;
  line-height: 16px;
}

.footer-a,
.footer-a:visited,
.footer-a:hover,
.footer-a:active {
  color: black;
}
