.about-grid-container {
  display: flex;
  justify-content: center;
}

.about-grid {
  display: grid;
  padding-bottom: 40px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 40px;
  row-gap: 1.25rem;
  text-align: center;
}

.chan-image {
  border-radius: 50%;
  justify-self: center;
  overflow: hidden;
  pointer-events: none;
}

.about-a,
.about-a:visited,
.about-a:hover,
.about-a:active {
  color: black;
}
