*,
html,
body {
  margin: 0;
  overflow-x: clip;
  padding: 0;
  user-select: none;
}

body {
  background-color: #f8fff7;
  color: #4c6f72;
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content: center;
}

button {
  background: none;
  border: none;
  border-radius: 16px;
  color: #4c6f72;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

button > img {
  pointer-events: none;
}

button:focus,
button:active {
  outline: none;
  background-color: transparent;
}

/* @media (hover: hover) {
  button:active,
  button:hover {
    background-color: rgba(183, 240, 155, 0.35);
  }
}

@media (hover: none) {
  button:active {
    background-color: rgba(183, 240, 155, 0.35);
  }
} */

table {
  border-collapse: collapse;
}

td,
tr,
th {
  border: 1px solid black;
  line-height: 1.4;
  padding: 10px 10px;
}

tr td:first-child {
  white-space: nowrap;
  width: 1%;
}

/* Ensuring the footer is always at the bottom */

.base-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.base-content {
  flex: 1;
}

/* Popups */

.modal-content {
  background-color: #f8fff7;
  bottom: 0;
  left: 0;
  overflow-x: clip;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  scrollbar-width: none;
  top: 0;
  width: 100%;
  z-index: 6;
}

.modal-content::-webkit-scrollbar {
  display: none;

  /* For Chrome, Safari, and Opera */
}

.modal-overlay {
  background-color: #f8fff7;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
}

.modal-content-filters {
  background-color: #f8fff7;
  bottom: 0;
  height: 100vh;
  left: 0;
  overflow-x: clip;
  overflow-y: scroll;
  padding-bottom: 20vh;
  position: fixed;
  right: 0;
  scrollbar-width: none;
  top: 172px;
  width: 100%;
  z-index: 5;
}

.modal-overlay-filters {
  background-color: #f8fff7;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 172px;
  z-index: 5;
}

/* Hide the scrollbar */
.modal-content-filters::-webkit-scrollbar {
  display: none;

  /* For Chrome, Safari, and Opera */
}

/* Circular Buttons */

.circular-btn {
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
  position: fixed;
  z-index: 3;
}

.circular-btn:active,
.circular-btn:hover {
  background-color: rgba(183, 240, 155, 0.7);
}

.help-btn {
  bottom: calc(2.5vh + 70px);
  height: 70px;
  right: 5vw;
  transform: translateX(-5%);
  width: 70px;
}

.sort-btn {
  bottom: 2vh;
  height: 70px;
  right: 5%;
  transform: translateX(-5%);
  width: 70px;
}

.back-btn {
  height: 50px;
  left: 5vw;
  top: 2vh;
  transform: translateX(5%);
  width: 50px;
}

.scroll-up-btn {
  bottom: 3%;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}

/* Sort Options Screen */

.sort-options-btn-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  text-align: right;
}

.sort-options-span {
  font-size: 1.25rem;
  padding-right: 20px;
}

.sort-options-circ-btn {
  border-radius: 50px;
  bottom: 10%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: 70px;
  padding: 0;
  right: 5%;
  transform: translateX(-5%);
  width: 70px;
  z-index: 3;
}

.sort-options-grid-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2vh;
}

.sort-options-grid {
  display: grid;
  row-gap: 16px;
}

/* Tutorial Screen */

.tutorial {
  font-size: 1.25rem;
  padding-bottom: 30px;
  padding-top: 20px;
  pointer-events: none;
  text-align: center;
  width: 100vw;
}

.tutorial > p {
  padding-bottom: 10px;
  padding-top: 30px;
}

.tutorial a {
  pointer-events: all;
}

.tutorial a:visited,
.tutorial a:active {
  color: black;
}

.tipText {
  font-size: 0.9rem;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

/* Special styles just for Step 1 */

.tutorial-s1-container {
  display: flex;
  justify-content: center;
}

.tutorial-s1-grid {
  column-gap: 16px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

.tutorial-s1-grid-item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tutorial-s1-grid-item:nth-child(3) {
  grid-column: span 2;
}

/* Instructions Bar */

.instructions {
  font-size: 1.05rem;
  line-height: 25px;
  padding-top: 36px;
  text-align: center;
  word-spacing: 5px;
}

.instructions-lang-change-btn {
  background-image: url('../public/btn-dropdown.webp');
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 3px;
  color: #43a282;
  font-size: 1.05rem;
  margin-left: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 22px;
  padding-top: 0;
  word-spacing: 0px;
}

/* Language Selection */

.language-selection-grid {
  display: grid;
  justify-content: center;
  padding-bottom: 40px;
  row-gap: 5px;
}

.language-selection-instructions {
  padding-bottom: 20px;
}

.language-option-btn {
  font-size: 2.5rem;
  padding-bottom: 5px;
}

.language-option-btn small {
  font-size: 1rem;
}

/* Search Bar */

.single-back {
  align-self: center;
  justify-self: flex-end;
  width: 95%;
}

.searchbar-back-btn {
  align-items: center;
  align-self: center;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  height: 45px;
  justify-content: flex-end;
  margin-left: 2.75%;
  margin-right: 20px;
  width: 5%;
  z-index: 2;
}

.searchbar-clear-search-btn {
  align-self: center;
  border-radius: 2%;
  grid-column: 1;
  grid-row: 1;
  height: 40px;
  justify-self: flex-end;
  margin-right: clamp(22px, 5.75vw, 45px);
  width: 32px;
  z-index: 4;
}

.searchbar-clear-search-btn-dd {
  height: 64px;
}

.search-input-dd-line {
  align-self: center;
  cursor: text;
  grid-column: 1;
  grid-row: 1;
  height: 0.25px;
  justify-self: center;
  padding-bottom: 28px;
  padding-right: 14px;
  z-index: 4;
}

.search-input-dd-line > img {
  opacity: 25%;
  width: clamp(180px, 68vw, 590px);
}

.filter-tag-bubble-container {
  display: inline-block;
}

.filter-tag-bubble {
  align-items: center;
  background-color: #4fa283;
  border-radius: 50px;
  color: white;
  cursor: default;
  display: flex;
  justify-items: center;
  margin-left: 5px;
  padding-left: 10px;
}

.filter-tag-bubble-span {
  font-size: 1rem;
  height: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

.filter-tag-bubble-btn {
  border-radius: 50px;
  display: flex;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 8px;
}

.scrolling-filter-bar {
  align-self: center;
  cursor: text;
  grid-column: 1;
  grid-row: 1;
  height: fit-content;
  justify-self: center;
  margin-left: 5%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 62.5%;
  width: clamp(130px, 65vw, 570px);
  z-index: 3;
}

.scrolling-filter-bar-dd {
  align-self: end;
  padding-bottom: 6px;
}

/* Hide the scrollbar */
.scrolling-filter-bar::-webkit-scrollbar {
  display: none;

  /* For Chrome, Safari, and Opera */
}

/* Optional: Hide scrollbar for Firefox */
.scrolling-filter-bar {
  scrollbar-width: none;

  /* For Firefox */
}

.filter-screen-container {
  display: flex;
  justify-content: center;
}

.filter-screen-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 275px;
  width: clamp(300px, 85vw, 650px);
}

.filter-screen-content > h2 {
  padding-bottom: 10px;
}

.filter-screen-category-grid {
  column-gap: 10px;
  display: grid;
  justify-content: center;
  padding-bottom: 30px;
  row-gap: 24px;

  grid-template-columns: repeat(
    5,
    minmax(0, 1fr)
  ); /* 5 columns with equal width */
}

.filter-option-btn {
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.5rem, 2.8vw, 1rem);
  text-align: center;
  width: 100%;
}

.filter-option-btn > img {
  border-radius: 500px;
  height: auto;
  width: clamp(55.75px, 100%, 85px);
}

.searchbar-container {
  align-items: center;
  background-color: #f8fff7;
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  padding-top: 6px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.searchbar-grid {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  width: clamp(320px, 100vw, 770px);
}

.searchbar {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
}

.search-input {
  background-color: #e7f2df;
  border: none;
  border-radius: 25px;
  color: #4c6f72;
  font-family: 'Lato', sans-serif;
  font-size: 1.05rem;
  height: 45px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  width: 70%;
}

.search-input-dd {
  padding-bottom: 28px;
}

.si-bg {
  background-position: calc(50% - 55px);
  background-repeat: no-repeat;
  background-size: 20px;
}

.si-bg-dd {
  background-repeat: no-repeat;
  background-size: 20px;

  background-image: url('../public/icon-search.webp'),
    url('../public/filter/filter.webp');
}

.si-bg-magnifying {
  background-image: url('../public/icon-search.webp');
}

.si-bg-filter {
  background-image: url('../public/filter/filter.webp');
}

.search-input:focus,
.search-input:focus {
  outline: none;
}

.search-input-background-animation {
  animation: move-left 0.15s;
  background-position: 3%;
}

@keyframes move-left {
  0% {
    background-position: calc(50% - 55px);
  }
  100% {
    background-position: 3%;
  }
}

.search-input-background-left {
  background-position: 3%;
}

.search-input-background-left-dd {
  background-position-x: 3%, 3%;
  background-position-y: 22.5%, 82.5%;
  background-repeat: no-repeat, no-repeat;
}

.search-input::placeholder {
  color: #4c6f72;
  opacity: 1;
}

.copy-popup {
  background-color: #e7f2e1;
  border-color: #43a282;
  border-radius: 10px;
  border-style: solid;
  border-width: thick;
  font-size: 2rem;
  grid-column: 1;
  grid-row: 1;
  line-height: 200%;
  place-self: center;
  text-align: center;
  visibility: hidden;
  width: 90%;
  z-index: 5;
}

.popup-animation {
  animation: fade-out 3s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  75% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
  }
}

/* Pokemon Grid */

.pokemon-en-text {
  font-size: clamp(0.5rem, 4vw, 1rem);
  font-weight: 600;
}

.pokemon-forign-text {
  font-size: clamp(0.35rem, 4vw, 0.85rem);
}

.pokemon-grid img {
  height: auto;
  width: clamp(50px, 80%, 150px);
}

.pokemon-grid-btn {
  cursor: copy;
  padding-bottom: 5px;
  padding-top: 5px;
}

.pokemon-grid-container {
  display: flex;
  justify-content: center;
}

.pokemon-grid {
  column-gap: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding-bottom: 175px;
  row-gap: 16px;
  width: clamp(300px, 85vw, 650px);
}
