html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8fff7;
  color: #4c6f72;
  justify-content: center;
  text-align: center;
}

.left-background {
  width: 2%;
  z-index: 5;
  position: fixed;
  left: 0;
  pointer-events: none;
}

.right-background {
  width: 2%;
  z-index: 5;
  position: fixed;
  right: 0;
  pointer-events: none;
}

.topbar-container {
  position: sticky;
  top: 0px;
  padding-top: 45px;
  background-color: #f8fff7;
  padding-bottom: 6px;
  font-size: 1.05rem;
  word-spacing: 5px;
  line-height: 25px;
  align-items: center;
}

.lang-selector {
  font-family: 'Lato', sans-serif;
  font-size: 1.05rem;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  border-radius: 5%;
}

.lang-selector:active, .lang-selector:hover {
  background-color: rgba(183, 240, 155, 0.35);
}

.empty {
  font-family: 'Lato', sans-serif;
  font-size: 1.05rem;
  background-color: #e7f2df;
  color: #4c6f72;
  border: none;
  text-align: center;
  width: 87.5%;
  height: 45px;
  border-radius: 25px;
  background-image: url('../public/search.png');
  background-size: 20px;
  background-position: 35% 50%;
  background-repeat: no-repeat;
  cursor: text;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
}

.searchbar-container {
  padding-top: 20px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 100%;
  height: 45px;
}

.search-input {
  font-family: 'Lato', sans-serif;
  background-color: #e7f2df;
  font-size: 1.05rem;
  height: 43px;
  width: 87.5%;
  border-radius: 25px;
  border: none;
  text-align: center;
  justify-content: center;
  background-image: url('../public/search.png');
  background-size: 20px;
  background-position: 35% 50%;
  background-repeat: no-repeat;
}

::placeholder {
  color: #4c6f72;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #4c6f72;
  opacity: 1;
  /* Firefox */
}

.go-back-button {
  position: absolute;
  background-image: url('../public/chevron_left.png');
  background-repeat: no-repeat;
  border: none;
  background-color: blue;
  top: 130px;
}

.clear-text-button {
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #e7f2df;
  top: 130px;
}

.copy-popup {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  background-color: #e7f2e1;
  border-color: #43a282;
  width: 90%;
  height: 65px;
  font-size: 2rem;
  border-radius: 10px;
  border-width: thick;
  border-style: solid;
  line-height: 200%;
  /* top: 100px; */
  /** 2 HOURS TO FIND THIS!!!!!!!!! FUCK CSS!
    https://stackoverflow.com/questions/15627401/centering-div-without-using-margin-auto
  **/
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.popup-animation {
  animation: fade-out 3s;
}

@keyframes fade-out {
  0% {
    opacity: 1.00;
    visibility: visible;
  }

  75% {
    opacity: 1.00;
    visibility: visible;
  }

  100% {
    opacity: 0.00;
  }
}

.pokemon-en-text {
  font-weight: 600;
  font-size: 3.5vw;
  padding-top: 0.2rem;
  pointer-events: none;
}

.pokemon-jp-text {
  font-size: 3.0vw;
  pointer-events: none;
}

.pokemon-grid-item {
  font-family: 'Lato', sans-serif;
  padding-bottom: 5px;
  border: none;
  background: none;
  color: #4c6f72;
  cursor: pointer;
  border-radius: 5%;
}

.pokemon-grid-item:active, .pokemon-grid-item:hover {
  background-color: rgba(183, 240, 155, 0.35);
}

.pokemon-grid img {
  vertical-align: middle;
  width: clamp(50px, 100%, 600px);
  height: auto;
  pointer-events: none;
}

.pokemon-grid {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 23% 23% 23%;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}