html,body{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;;
  background-color: #f8fff7;
  color: #4c6f72;
  justify-content: center;
  text-align: center;
}

.left-background {
  width: 2%;
  z-index: 5;
  position: fixed;
  left: 0;
}

.right-background {
  width: 2%;
  z-index: 5;
  position: fixed;
  right: 0;
}

.topbar {
  position: sticky;
  top: 0px;
  padding-top: 50px;
  background-color: #f8fff7;
  padding-bottom: 6px;
  font-size: 1.05rem;
  word-spacing: 5px;
  line-height:25px;
  align-items: center;
}

input[type=text] {
  font-family: 'Lato', sans-serif;
  font-size: 1.05rem;
  background-color: #e7f2df;
  color: #4c6f72;
  border: none;
  text-align: center;
  background-image: url('../public/search.png');
  background-size: 20px;
  background-position: 35% 50%;
  background-repeat: no-repeat;
  width: 85%;
  height: 45px;
  border-radius: 25px;
}

::placeholder {
  color: #4c6f72;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #4c6f72;
  opacity: 1; /* Firefox */
}

.searchbox {
  padding-top: 20px;
}

.copy-popup {
  visibility: hidden;
  position: absolute;
  background-color: #e7f2e1;
  border-color: #43a282;
  width: 90%;
  height: 65px;
  font-size: 2rem;
  border-radius: 10px;
  border-width: thick ;
  border-style: solid;
  line-height: 200%;
  top: 62%;
  /** 2 HOURS TO FIND THIS!!!!!!!!! FUCK CSS!
    https://stackoverflow.com/questions/15627401/centering-div-without-using-margin-auto
  **/
  left: 50%;
  transform: translateX(-50%);
}

.copy-popup-fade-out {
  animation-name: fade-out;
  animation-duration: 2s;
  animation-delay: 4s;
}

@keyframes fade-out {
  0%   {opacity: 1.00;}
  25%  {opacity: 0.75;}
  50%  {opacity: 0.50;}
  75%  {opacity: 0.25;}
  100% {opacity: 0.00; visibility: hidden;}
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pokemon-en-text {
  font-weight: 600;
  font-size: medium;
  padding-top: 0.2rem
}

.pokemon-jp-text {
  font-size: small;
}

.pokemon-grid-item {
  font-family: 'Lato', sans-serif;
  padding-bottom: 5px;
  border: none;
  background-color: #f8fff7;
  color: #4c6f72;
  cursor: pointer;
  transition-duration: 0.1s;
  border-radius: 5%;
}

.pokemon-grid-item:active {
  background-color: rgba(183, 240, 155, 0.35);;
}

.pokemon-grid img {
  vertical-align: middle;
  width: clamp(50px, 100%, 600px);
  height: auto;
}

.pokemon-grid {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 23% 23% 23%;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}